<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>注册</h2>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="username" pattern="[\w]{2,9}">
    <input type="text" name="password" placeholder="password" pattern="[\S]+">
    <p>
        教师： <input type="radio" name="type" value="teacher" checked="checked">
        学生：<input type="radio" name="type" value="student">
    </p>
    <input type="submit" >
</form>
<p>已有账号？<a href="login.html">登陆</a></p>
</body>
</html>